<!DOCTYPE html>

<title>Hello AttractionController!</title>

{% block body %}
    <div class="bg-dark text-white p-2">
        {{ knp_menu_render('main') }}
    </div>
    <form style="margin-left: 20px" method="post">
        <input type="text" name="name" placeholder="name" required=required>
        <br><br>
        <input type="text" name="short_description" placeholder="short description" required=required>
        <br><br>
        <input type="text" name="full_description" placeholder="full description" required=required>
        <br><br>
        <input type="text" name="score" placeholder="score" required=required>
        <br><br>
        <input type="submit">
    </form>
{% endblock %}


