<!DOCTYPE html>

<title>Hello AttractionController!</title>

{% block body %}
    <ul>
        <li>name : {{ atr.name }}</li>
        <li>short description : {{ atr.shortDescription }}</li>
        <li>full description : {{ atr.fullDescription }}</li>
        <li>score : {{ atr.score }}</li>
    </ul>
{% endblock %}
